
body{
    scroll-padding-top:2rem ;
    scroll-behavior: smooth;
 
 }
 ::selection{
    background: #fe5b3b;
 }
 section{
     padding: 50px 100px;
      color:#444;
 }
 .container{
     margin-right: auto;
     margin-left: auto;
     height: 50%
 }
 
 header{
     position: fixed;
     width: 100%;
     top: 0;
     right: 0;
     z-index: 100;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: #eeeff1;
     padding: 15px 100px;
     
 }
 .logo{
    color:#444;
    font-size: 25px;
    font-weight: 600;
 }
 .navbar{
    display: flex;
 }
 .navbar li{
 position: relative;
 }

 .navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
    }
    
.book{
    padding: 10px  20px;
    background: #fe5b3b;
    font-weight: 500;
    color: #fff;
    border-radius: .5rem;
}

.book:hover{
  transform: scale(1.1)
}

.home{
    width: 100%;
    min-height:100vh;
    position: relative;
    background: #eeeff1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1{
    font-size: 3rem;
    letter-spacing: 2px;
}
.text p{
   margin: .5rem 0 1rem ;
}

.store img{
    width: 150px;
    cursor: pointer;
}

.image img{
    width: 600px;
    height:100%;
}

.cars-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.cars-button:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}



.contact-btn {
    background-color: #ff5722; 
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-btn:hover {
    background-color: #e64a19; 
  }
  
  .car:hover {
    background-color: #45a049;
  }
