body{
    margin: 0;
    font-family: Arial, sans-serif;
}
#section-1{
    background-color: gray;
    height: 0px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    height: 50%
}

header{
    padding:50px;
    display: flex;
    justify-content: space-around;
}

.hero {
    background: url('xm.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
img {
    width: 400px; 
    height: auto; 
    border: 2px solid #333; 
    border-radius: 10px; 
  }

  



  
  