body{
   scroll-padding-top:2rem ;
   scroll-behavior: smooth;

}
section{
    padding: 50px 100px;
     
}
.container{
    margin-right: auto;
    margin-left: auto;
    height: 50%
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    
}

.hero {
    background: url('xm.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero {
    background: url(CADILLAC.PNG) no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  


.navbar {
    background-color: #333;
    color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: center;
    z-index: 1000;
  }
img {
    width: 400px; 
    height: auto; 
    border: 2px solid #333; 
    border-radius: 10px; 
  }

  .about-us-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


nav {
    background-color: whitesmoke;
}


.nav-bar {
    list-style-type: none;
    display: inline-block;
    justify-content: space-evenly; 
    padding: 15px 0;
    margin: 0;
}


.nav-bar li {
    padding: 0 20px; 
}


.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase; 
    padding: 8px 15px; 
    border-radius: 5px;
    transition:  all 1s ease-out;;
}
main p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
}


@media {
    max-width: 600;
    max-height: auto;
}
